#main{
    max-width:1280px;
    max-height:100%;
    margin:30px auto;
    padding:30px;
    background-color:#ebeb07;
    background-radius:10px;
  }
  #title{
    text-align:center;
  }
  #header-title{
    background-color:#c2c204;
  }
  #img-div{
    max-width:600px;
    max-height:100%;
    margin:0 auto;
    padding:15px;
    background-color:##bfbf0d;
    background-radius:10px;
  }
  #image{
    display:block;
    max-width:100%;
    padding-bottom:10px;
  }
  #img-caption{
    background-color:#c2c204;
  }
  #tribute-info{
    max-width:600px;
    margin:0 auto;
    
  }
  #tribute-footer{
    text-align:center;
  }
  #tribute-info> ul li {
    margin-bottom:10px;
    line-height:30px;
  }
  